<a href="https://colab.research.google.com/github/VolitiveGoblin/IT-262-Assignments/blob/main/MichaelT_CBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import math

dataT=pd.read_csv('drive/MyDrive/IT 262/262-CBA.csv')
print(dataT)

   years  developmentCost  operationalCost  valueOfBenefits
0      0             -100                0                0
1      1              -30              -10               25
2      2                0              -15               55
3      3                0              -15               85

In [3]:
discountRate=0.05
discountFactor=[0,0,0,0]
for year in dataT['years']:
  discountFactor[year]=1/math.pow((1+discountRate),year)

dataT['discountFactor']=[round(num, 2) for num in discountFactor]
print(dataT)

   years  developmentCost  operationalCost  valueOfBenefits  discountFactor
0      0             -100                0                0            1.00
1      1              -30              -10               25            0.95
2      2                0              -15               55            0.91
3      3                0              -15               85            0.86

In [4]:
NetBC=[0,0,0,0]
for year in dataT['years']:
  NetBC[year]=dataT['developmentCost'][year]+dataT['valueOfBenefits'][year]

dataT['NetBC']=NetBC
print(dataT)

   years  developmentCost  ...  discountFactor  NetBC
0      0             -100  ...            1.00   -100
1      1              -30  ...            0.95     -5
2      2                0  ...            0.91     55
3      3                0  ...            0.86     85

[4 rows x 6 columns]

In [6]:
NPV=[0,0,0,0]

for year in dataT['years']:
  NPV[year]=dataT['NetBC'][year]*dataT['discountFactor'][year]

dataT['NPV']=[round(num, 2) for num in NPV]
print(dataT)

   years  developmentCost  operationalCost  ...  discountFactor  NetBC     NPV
0      0             -100                0  ...            1.00   -100 -100.00
1      1              -30              -10  ...            0.95     -5   -4.75
2      2                0              -15  ...            0.91     55   50.05
3      3                0              -15  ...            0.86     85   73.10

[4 rows x 7 columns]